@import "../../variables.scss";

@media screen and (max-width: px-to-rem(480px)) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .mockups {
        width: 100%;
    }
    .background-image {
        position: relative;
        width: 52rem;
        top: -14rem;
        left: 6.7rem;
        z-index: -2;
    }
    .mockups {
        position: relative;
        width: 47%;
        top: -46rem;
        z-index: -1;
        margin: 0 auto;
        left: 13.8rem;
    }
    .bg-mockups {
        height: 25.8rem;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        h1 {
            font-size: px-to-rem(40px);
            margin-bottom: px-to-rem(10px);
            text-align: center;
        }
        p {
            text-align: center;
            margin-bottom: px-to-rem(30px);
            text-align: center;
        }
    }
    .section-2 {
        margin-bottom: px-to-rem(80px);
        display: flex;
        justify-content: center;
        background-color: #F4F5F7;
        margin-top: px-to-rem(100px);
        padding-top: px-to-rem(60px);
    }
    .why-easybank:nth-child(1) {
        width: 85%;
    }
    .section-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: px-to-rem(80px);
    }
    h2 {
        text-align: center;
        font-size: px-to-rem(36px);
    }
    p {
        text-align: center;
    }
}


@media screen and (min-width: px-to-rem(481px)) {
    body {
        overflow-x: hidden; // Evitar scroll horizontal
    }
    .header {
        display: flex;
        align-items: center;
    }

    .header__content {
        flex: 1; // Permitir que ocupe más espacio
        padding: px-to-rem(20px); // Espacio para respirar
        width: px-to-rem(285px);
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: px-to-rem(200px);
        h1 {
            text-align: left;
            margin-bottom: px-to-rem(10px);
            width: px-to-rem(447px);
        }
        p {
            text-align: left;
            margin-bottom: px-to-rem(30px);
            width: px-to-rem(447px);
        }
        button {
            width: px-to-rem(163px);
        }
    }

    .bg-mockups {
        position: relative;
        width: px-to-rem(780px);
        overflow: hidden; // Asegura que cualquier desbordamiento se maneje correctamente
        flex: 0 0 50%; // Reducir el espacio que ocupa el contenedor de imágenes
        height: px-to-rem(790px); // Ajustar según sea necesario
    }

    .background-image {
        position: relative;
        top: px-to-rem(-260px); // Ajusta para mover la imagen hacia arriba
    }

    .mockups {
        position: absolute;
        top: px-to-rem(-80px); // Ajusta según sea necesario
        right: px-to-rem(-120px); // Ajusta para mover la imagen correctamente
        width: px-to-rem(732px);
    }

    .why-easybank {
        margin: px-to-rem(130px);
        p {
            width: px-to-rem(635px);
        }
    }
    .section-2 {
        background-color: #F4F5F7;
        height: px-to-rem(676px);
        display: flex;
        align-items: center;
        margin-top: px-to-rem(-90px);
        z-index: 4;
    }
    .section-3 {
        background-color: #fcfcfc;
        height: px-to-rem(676px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
}

@media screen and (min-width: px-to-rem(1441px)) {
    .header {
        width: px-to-rem(1440px);
        margin: auto;
    }
    .bg-mockups {
        position: relative;
        width: px-to-rem(780px);
        overflow: hidden; // Asegura que cualquier desbordamiento se maneje correctamente
        flex: 0 0 50%; // Reducir el espacio que ocupa el contenedor de imágenes
        height: px-to-rem(790px); // Ajustar según sea necesario
    }

    .background-image {
        position: relative;
        top: px-to-rem(-260px); // Ajusta para mover la imagen hacia arriba
    }

    .mockups {
        position: absolute;
        top: px-to-rem(-80px); // Ajusta según sea necesario
        right: px-to-rem(-120px); // Ajusta para mover la imagen correctamente
        width: px-to-rem(732px);
    }
    .section-2 {
        background-color: #F4F5F7;
        height: px-to-rem(676px);
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .why-easybank {
        width: px-to-rem(1240px);
    }
}