@import "../../variables.scss";

@media screen and (max-width: px-to-rem(480px)) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .mockups {
        width: 100%;
        margin-top: px-to-rem(-100px);
    }
    .background-image {
        position: relative;
        width: 180%;
        top: px-to-rem(-160px); // Ajusta para mover la imagen hacia arriba
        left: px-to-rem(-100px);
    }
    .mockups {
        position: relative;
        top: px-to-rem(-100px); // Ajusta según sea necesario
    }
    .bg-mockups {
        height: px-to-rem(300px);
    }

    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        h1 {
            font-size: px-to-rem(36px);
            text-align: center;
            margin-bottom: px-to-rem(10px);
        }
        p {
            text-align: center;
            margin-bottom: px-to-rem(30px);
        }
    }
}


@media screen and (min-width: px-to-rem(481px)) {
    body {
        overflow-x: hidden; // Evitar scroll horizontal
    }
    .header {
        display: flex;
        align-items: center;
    }

    .header__content {
        flex: 1; // Permitir que ocupe más espacio
        padding: px-to-rem(20px); // Espacio para respirar
        width: px-to-rem(285px);
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: px-to-rem(200px);
        h1 {
            font-size: px-to-rem(56px);
            font-family: "PublicSans";
            font-weight: 400;
            text-align: left;
            color: $text;
            letter-spacing: px-to-rem(1px);
            margin-bottom: px-to-rem(10px);
            width: px-to-rem(447px);
        }
        p {
            text-align: left;
            margin-bottom: px-to-rem(30px);
            width: px-to-rem(447px);
        }
        button {
            width: px-to-rem(163px);
        }
    }

    .bg-mockups {
        position: relative;
        width: px-to-rem(780px);
        overflow: hidden; // Asegura que cualquier desbordamiento se maneje correctamente
        flex: 0 0 50%; // Reducir el espacio que ocupa el contenedor de imágenes
        height: px-to-rem(790px); // Ajustar según sea necesario
    }

    .background-image {
        position: relative;
        top: px-to-rem(-260px); // Ajusta para mover la imagen hacia arriba
    }

    .mockups {
        position: absolute;
        top: px-to-rem(-80px); // Ajusta según sea necesario
        right: px-to-rem(-120px); // Ajusta para mover la imagen correctamente
        width: px-to-rem(732px);
    }

    .why-easybank {
        margin: px-to-rem(130px);
        p {
            width: px-to-rem(635px);
        }
    }
    .section-2 {
        background-color: #F4F5F7;
        height: px-to-rem(676px);
        display: flex;
        align-items: center;
        margin-top: px-to-rem(-90px);
    }
}

@media screen and (min-width: px-to-rem(1441px)) {
    .header {
        width: px-to-rem(1440px);
        margin: auto;
    }
    .bg-mockups {
        position: relative;
        width: px-to-rem(780px);
        overflow: hidden; // Asegura que cualquier desbordamiento se maneje correctamente
        flex: 0 0 50%; // Reducir el espacio que ocupa el contenedor de imágenes
        height: px-to-rem(790px); // Ajustar según sea necesario
    }

    .background-image {
        position: relative;
        top: px-to-rem(-260px); // Ajusta para mover la imagen hacia arriba
    }

    .mockups {
        position: absolute;
        top: px-to-rem(-80px); // Ajusta según sea necesario
        right: px-to-rem(-120px); // Ajusta para mover la imagen correctamente
        width: px-to-rem(732px);
    }
}