@import "../../variables.scss";

.bullet {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.bullet__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: px-to-rem(30px);
    img {
        width: px-to-rem(62px);
        height: px-to-rem(62px);
    }
}

@media screen and (max-width: px-to-rem(480px)) {
    .bullet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .bullet__content {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (min-width: px-to-rem(481px)) and (max-width: px-to-rem(1220px)) {
    .bullet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .bullet__content {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}