@use "sass:math";
/************/
/*  colors  */
/************/
$primary: #30C88F;
$text: #2D314D;
$gray: #9597A5;
$gradient: linear-gradient(140deg, rgba(51,211,94,1) 0%, rgba(42,182,217,1) 100%);
$white: #FFF;

/***********/
/*  Fonts  */
/***********/

@font-face {
    font-family: "PublicSans";
    src: url("../public/PublicSans-VariableFont_wght.ttf");
}

/***********/
/*  Sizes  */
/***********/

$large: 1441px;
$regular: 1440px;
$tablet: 800px;

/*****************/
/*  Rem Formula  */
/*****************/

$base-font-size: 16px;

@function px-to-rem($px, $base: $base-font-size) {
    @return math.div($px, $base) * 1rem;
}

p, h3, h2 {
    font-family: "PublicSans";
}

p {
    color: $gray;
    font-size: px-to-rem(16px);
    line-height: 1.5;
}

h3 {
    color: $text;
    font-size: px-to-rem(20px);
    line-height: 1;
    font-weight: 500;
}

h2 {
    color: $text;
    font-size: px-to-rem(44px);
    line-height: 1;
    letter-spacing: px-to-rem(1px);
    font-weight: 400;
}